body {
    font-size: 12;
    background: linear-gradient(), rgb(175, 175, 175);
    margin: 0;
    max-width: 100%;
}
img {
    width: 100%;
    height: auto;
    padding-bottom: 10px;
    /*border-radius: 25px;*/
}
.container {
    position: relative;
}
.bottomright {
    position:fixed;
    bottom:50px;
    right: 30px;
    font-size: 18px;
    color: black;
}

.huerotate {
    -webkit-filter: hue-rotate(180deg);filter: hue-rotate(180deg);
}
.grayscale {
    -webkit-filter: grayscale(100%);filter: grayscale(100%);
}

.inbetween {
    /*width:300px;
    height:200px;*/
    padding: 5px;
    border:2px solid black;
}

.image {
    position: relative;
    width: 100%;
}
